<?xml version="1.0"?><configuration>
	<configSections>
		<section name="ApplicationConfiguration" type="Topis.SystemFramework.ApplicationConfiguration, Topis.SystemFramework"/>
		<section name="TopisConfiguration" type="Topis.SystemFramework.TopisConfiguration, Topis.SystemFramework"/>
		<section name="MicrosoftWebControls" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	</configSections>
	<MicrosoftWebControls>
		<!--<add key="CommonFiles" value="/TopisWeb3/webctrl_client/1_0"/>-->
		<add key="CommonFiles" value="/TOPIS/webctrl_client/1_0"/>
	</MicrosoftWebControls>
	<appSettings>
		<add key="DefaultCulture" value="zh-CN"/>
		<add key="TemplatefilePath" value="C:\Topis\Template\"/>
		<add key="SavefilePath" value="C:\Topis\UploadFiles\"/>
		<add key="ValidDays" value="10"/>
		<!--  RegisterfilePath 用于标记供应商注册文件路径    -->
		<add key="VendorMailSubject" value=""/>
		<add key="VendorMailBody" value=""/>
		<add key="RegisterfilePath" value="../../RegistorInfo/Register.txt"/>
		<add key="VendorDataFilePath" value="C:\Topis\UploadFiles\VendorData\"/>
		<add key="MaterialDataFilePath" value="C:\Topis\UploadFiles\MaterialData\"/>
		<add key="BusinessDataFilePath" value="C:\UploadFiles\BusinessData\"/>
		<add key="DataBaseErrorDescFile" value="C:Interpub\wwwroot\Topis\douzhicheng\TopisTestProg\Topis\TopisWeb\DatabaseErrorDesc.xml"/>
		<add key="PageSize" value="30"></add>
		
    
    <add key="ConnectionString" value="server=.;User ID=sa;Password=cnpcic-pro;database=TOPIS_Chad;Connection Reset=FALSE"/>
    
		<!--<add key="MicrosoftWebControlsCommonFiles" value="" />-->
		<!--   zh-cn:簡體中文 zh-tw:繁體中文 en:英文    -->
		<!-- 合同执行情况的有效天数警告,当时间小于ValidDays的目标值时用更换Css警告 Added by Liujun at 11.22-->
		<add key="ValidDays" value="10"/>
		<!-- 定义SR的审批类型(0:走审批流程,1:不走审批流程,保存后就算通过 -->
		<add key="SRApproveType" value="1"/>
		<!-- 定义SR金额的级别-->
		<add key="SRPlanAmountLevel" value="500000"/>
		<!-- 货币单位,默认为美元-->
		<add key="Currency" value="USD"/>
		<!-- 货币单位,默认为美元-->
		<add key="MaterialCatalogDeep" value="2"/>
	</appSettings>
	<system.web>
		<customErrors defaultRedirect="ErrorPages/DisplayError.aspx?ErrorCode=UnkonwnError" mode="RemoteOnly">
			<error statusCode="404" redirect="ErrorPages/DisplayError.aspx?ErrorCode=FileNotFound"/>
			<error statusCode="500" redirect="ErrorPages/DisplayError.aspx?ErrorCode=UnkonwnError"/>
		</customErrors>
    <compilation debug="true">
      <assemblies>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.0.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=10.0.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=10.0.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=10.0.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.0.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Enterprise.Framework, Version=10.0.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.0.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </assemblies>
    </compilation>
		<!-- The sessionState is currently set to inproc:  the lines following [mode="inproc"] are not used but are present for ease of configuration -->
		<sessionState cookieless="false" timeout="60" mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password="/>
		<globalization fileEncoding="utf-8" requestEncoding="GB2312" responseEncoding="GB2312" culture="en-US" uiCulture="en-US"/>
		<!-- security -->
		<authentication mode="Forms">
			<forms name=".TopisAUTH" loginUrl="SystemLogin/SystemLogin.aspx" protection="All"></forms>
		</authentication>
		<authorization>
			<deny users="?"/>
			<allow users="*"/>
		</authorization>
		<httpRuntime executionTimeout="240" maxRequestLength="11264" useFullyQualifiedRedirectUrl="false"/>
		<pages buffer="true" enableSessionState="true" enableViewState="true" enableViewStateMac="true" validateRequest="false"/>
		<!--delete autoEventWireup="false" for web service-->
		</system.web>
	<ApplicationConfiguration>
		<!-- Trace file settings -->
		<!-- 

		To enable tracing do the following:
        	1. Set the SystemFramework.Tracing.Enabled value to "True"
        	2. Be sure the file identified by SystemFramework.Tracing.TraceFile exists, if not create it
        	3. Place an ACL on the file allowing full access to [machine name]\ASPNET
        	4. Restart IIS 
	    -->
		<add key="SystemFramework.Tracing.Enabled" value="false"/>
		<!-- Set this to the file with the trace settings. -->
		<add key="SystemFramework.Tracing.TraceFile" value="C:\TopisTrace.txt"/>
		<!-- The TraceLevel for this switch.  -->
		<add key="SystemFramework.Tracing.TraceLevel" value="4"/>
		<!-- This switch name. The trace level for this name can be set through
             environment variables or the registry  -->
		<add key="SystemFramework.Tracing.SwitchName" value="TopisTraceSwitch"/>
		<!-- This description of the Tracing.SwitchName switch -->
		<add key="SystemFramework.Tracing.SwitchDescription" value="Error and information tracing for Topis"/>
		<!-- Event log settings
	Note: The default Topis event source name is created in the local machine during setup. If you wish to log events to a different event source
              that event source must exist.
        -->
		<add key="SystemFramework.EventLog.Enabled" value="True"/>
		<add key="SystemFramework.EventLog.Machine" value="."/>
		<add key="SystemFramework.EventLog.SourceName" value="Topis"/>
		<!-- Use the standard TraceLevel values:
             0 = Off
             1 = Error
             2 = Warning
             3 = Info
             4 = Verbose -->
		<add key="SystemFramework.EventLog.LogLevel" value="1"/>
	</ApplicationConfiguration>
	<TopisConfiguration>
		<!-- Topis configuration -->
		<!--add key="Topis.DataAccess.ConnectionString" value="server=.;User ID=sa;Password=sa;database=topisweb;Connection Reset=FALSE"/-->
		<add key="Topis.DataAccess.AbroadDataConnectionString" value="server=.;User ID=sa;Password=sa;database=PReport_2006116;Connection Reset=FALSE"/>
		<add key="Topis.DataAccess.AbroadReptConnectionString" value="server=.;User ID=sa;Password=sa;database=Report;Connection Reset=FALSE"/>
		<add key="Topis.Web.EnablePageCache" value="True"/>
		<add key="Topis.Web.PageCacheExpiresInSeconds" value="3600"/>
		<add key="Topis.Web.EnableSsl" value="False"/>
		<!-- The name of the System. -->
		<add key="Topis.SiteName" value="TOPIS"/>
		<!-- The name of the System. -->
		<add key="Topis.HelpFileRootPath" value=".."/>
		<!-- The current version of TOPIS-->
		<add key="Topis.Version" value="1.1.0"/>
	</TopisConfiguration>
	<location path="Logout.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Configuration/SystemInit/SystemInit.aspx">
		<system.web>
			<pages validateRequest="false"/>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>